.doctoc {
    margin-top: 3rem;
}

.doctoc-section {
    margin-bottom: 16px;
}

.doctoc-section:last-of-type {
    margin-bottom: 0px;
}

.doctoc-heading {
    font-size: 1rem;
}

.doctoc-list {
    list-style-type: none;
}

.doctoc-item {

}

.doctoc-link {
    text-decoration: none;
}
