<nav class="nav">
    <div class="container">
        <div class="grid">
            <div class="grid-row">
                <div class="grid-col3">
                    <div class="nav-block">
                        <div class="nav-logoSet u-clearfix">
                            <span class="nav-icon"></span>
                            <i class="nav-logo" title="Geometry"><a class="nav-logolink" href="{{ site.url }}">gmtry</a></i>
                        </div>
                    </div>
                </div>
                <div class="grid-col9 u-clearfix">
                    <div class="nav-block nav-block--right u-clearfix">
                        <ul class="nav-menu">
                            <a class="nav-menuLink" href="{{ site.url }}{{ site.baseurl }}" title="Go to landing page"><li class="nav-menuItem"><span class="nav-menuLabel">Home</span></li></a>
                            <a class="nav-menuLink" href="/docs" title="Learn to use Geometry"><li class="nav-menuItem"><span class="nav-menuLabel">Documentation</span></li></a>
                            <a class="nav-menuLink" href="/developer" title="Contribute to Geometry"><li class="nav-menuItem"><span class="nav-menuLabel">Developer</span></li></a>
                            <!-- <a class="nav-menuLink" href="/weblog" title="Check new updates"><li class="nav-menuItem"><span class="nav-menuLabel">News</span></li></a> -->
                            <a class="nav-menuLink" href="{{ site.repository }}" title="Peak at the source code"><li class="nav-menuItem"><span class="nav-menuLabel">Source code</span></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
