/**
 * Let <body> and <html> occupy the entire screen.
 */

body, html {
    /* overflow-x: hidden; /* why tho? */
    min-height: 100%;
}

/**
 * body
 */

body {
    background-color: $pure-white;
    background-color: #EAEAEA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
}
